---
const { imgsrc, poetry, poetrytitle, author, pubtime } = Astro.props;
---

<div>
    <img src={imgsrc} alt={poetry} />
    <h2>{poetry}</h2>
    <p>
        <span class="popetryTitle">{poetrytitle}</span>|<span class="author"
            >{author}</span>
    </p>
    <p class="pubtime">{pubtime}</p>
</div>

<style>
    div {
        border: 1px #ccbd9c solid;
        width: 300px;
        text-align: center;
        border-radius: 5px;
        padding: 0.5em;
    }
    img {
        width: 240px;
    }
    h2 {
        font-size: 18px;
        font-family: "Courier New", Courier, monospace;
    }
    pubtime {
        font-size: 12px;
        color: #a4a4a4;
    }
    span {
        padding: 0.5em;
    }
</style>
